// CARD 

.card {
    height: 350px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 9px;
    background-color: white;
    box-shadow: grey 0px 0px 10px 0px;
}

.cardHeader {
    width: 100%;
    background-color: $darkBlue;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    color: darkgrey;
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    & p {
        font-size: 1rem;
        padding: 0 15px;
    }
}

.cardText {
    display: flex;  
    flex-direction: column;  
    justify-content: space-around;
    align-items: space-around;
    flex-grow: 1;

}

.buttonHolder {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0
}

button {
    background-color: $brightBlue;
    font-size: 0.7rem;
    border: 0;
    flex: 1 1 25px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    color: white;
    outline: none;
    transition: all 0.3s;
}

button.rightAlign {
    justify-content: flex-end;
}