article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  background-color: #eceff1; }

h1 {
  font-size: 3rem;
  margin: 0; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.6rem; }

p {
  font-size: 1.5rem; }

svg {
  margin: 0 15px;
  fill: white;
  stroke-width: 3;
  stroke: white;
  transition: all 0.3s; }

.wrapper {
  width: 80%;
  max-width: 600px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding-left: 0; }

h3 {
  margin-bottom: 5px; }

li {
  text-align: left;
  padding: 5px 15px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 9px;
  box-shadow: gainsboro 0px 0px 10px 0px;
  position: relative; }

li p {
  margin-top: 0; }

li button {
  background-color: transparent;
  position: absolute;
  top: -10px;
  right: -6px; }

li button svg {
  width: 15px;
  height: 15px;
  fill: #2d3848;
  transition: all 0.3s; }
  li button svg:hover {
    fill: #1b9ce2; }

.editCard {
  right: 20px; }

.addTitleForm {
  background-color: #2d3848;
  width: 100%;
  border-radius: 9px;
  padding: 10px;
  box-shadow: grey 0px 0px 10px 0px; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.packTitle,
.submitPackTitle {
  width: calc(50% - 10px);
  margin: 5px;
  padding: 10px;
  border: 0;
  border-radius: 5px; }

.submitPackTitle {
  background-color: lightslategrey;
  color: white;
  transition: all 0.3s; }
  .submitPackTitle:hover {
    background-color: #1b9ce2; }

.addCardForm {
  background-color: lightslategrey;
  border-radius: 9px;
  padding: 10px;
  box-shadow: grey 0px 0px 10px 0px; }

.addCardQuestion,
.addCardAnswer {
  width: 80%;
  float: left;
  clear: both;
  padding: 10px;
  margin: 5px;
  border: 0;
  border-radius: 5px; }

.addCardSubmit {
  width: 35px;
  height: 35px;
  float: right;
  background-color: #eceff1;
  color: #2d3848;
  border: 0;
  border-radius: 50%;
  font-size: 2rem;
  line-height: 0.9;
  margin-top: -16px;
  margin-right: 2%;
  transition: all 0.3s; }
  .addCardSubmit:hover {
    background-color: #2d3848;
    color: white; }

.formEdit {
  padding: 10px;
  padding-left: 0; }

.formEdit input {
  padding: 2.9px;
  margin: 1px;
  width: 80%;
  position: relative; }

.formEdit svg {
  fill: #2d3848;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 42px;
  right: 12px; }

.createPack {
  width: 100%;
  border-radius: 9px;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 1rem;
  box-shadow: grey 0px 0px 10px 0px;
  transition: all 0.3s; }
  .createPack:hover {
    background-color: #2d3848; }

.footer {
  position: absolute;
  bottom: 0;
  width: 80%; }

.cardReview {
  height: 230px; }

.packReview {
  font-size: 1.4rem;
  color: grey; }

.card {
  height: 350px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 9px;
  background-color: white;
  box-shadow: grey 0px 0px 10px 0px; }

.cardHeader {
  width: 100%;
  background-color: #2d3848;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: darkgrey;
  align-self: flex-start;
  display: flex;
  justify-content: space-between; }
  .cardHeader p {
    font-size: 1rem;
    padding: 0 15px; }

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  flex-grow: 1; }

.cardNumber {
  color: grey; }

.buttonHolder {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0; }

button {
  background-color: #1b9ce2;
  font-size: 0.7rem;
  border: 0;
  flex: 1 1 25px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  color: white;
  outline: none;
  transition: all 0.3s; }

button.rightAlign {
  justify-content: flex-end; }

.landingPageButton {
  background-color: white;
  border-radius: 9px;
  color: #2d3848;
  font-size: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 0;
  padding-bottom: 50px; }
  .landingPageButton:hover {
    box-shadow: grey 0px 0px 10px 0px; }

.reviewLink {
  width: 100%; }

.reviewButton {
  display: block;
  width: 100%;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: lightslategrey; }
  .reviewButton:hover {
    background-color: #1b9ce2; }

.barContainer {
  margin: 0 auto;
  margin-top: 50px;
  height: 10px;
  background-color: gainsboro;
  position: relative;
  border-radius: 6px; }

.progressBar {
  position: absolute;
  width: 20%;
  left: 0;
  height: 10px;
  background-color: #2d3848; }

.packDisplay {
  width: 100%;
  margin: 20px auto;
  height: 200px;
  border-radius: 9px;
  background-color: white;
  box-shadow: silver 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  position: relative;
  color: black;
  font-size: 1rem;
  transition: all 0.3s; }
  .packDisplay:hover {
    box-shadow: silver 0px 0px 20px 0px;
    background-color: #2d3848;
    color: white; }

.addPack {
  display: flex;
  justify-content: center;
  background-color: #2d3848;
  box-shadow: silver 0px 0px 20px 0px;
  border-radius: 9px;
  flex-direction: column;
  color: white;
  padding: 10px;
  transition: all 0.3s; }
  .addPack:hover {
    background-color: #1b9ce2; }

.addPack svg {
  margin: 0 auto; }

.packFooter {
  background-color: #2d3848;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: white; }

.cardInfo {
  height: 300px; }

.review {
  background-color: #2d3848;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: white;
  transition: all 0.3s; }
  .review:hover {
    color: white;
    box-shadow: grey 0px 0px 10px 0px; }

.deckLength {
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.5;
  color: grey; }

button.startDeck {
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  background-color: #1b9ce2;
  flex-grow: 0;
  flex-basis: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  transition: all 0.3s; }
  button.startDeck svg {
    margin-right: 0; }
  button.startDeck:hover {
    box-shadow: grey 0px 0px 10px 0px; }

.cardText {
  margin: 30px 0;
  flex-grow: 0; }
  .cardText p {
    margin: 0; }

header {
  background-color: lightslategrey;
  margin-bottom: 50px; }

header svg:hover {
  fill: #2d3848; }

header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

h1 {
  font-family: 'Cookie', cursive;
  color: white; }

.deckComplete button {
  width: 300px;
  margin: 20px auto;
  border-radius: 8px;
  background-color: lightslategrey;
  position: relative;
  box-shadow: silver 0px 0px 5px 0px;
  transition: all 0.3s; }
  .deckComplete button:hover {
    box-shadow: silver 0px 0px 20px 0px;
    background-color: #2d3848; }
    .deckComplete button:hover > .buttonIcon {
      border: solid 4px #2d3848; }
      .deckComplete button:hover > .buttonIcon > svg {
        fill: #2d3848; }

.deckComplete .deckAgain {
  margin-top: 50px;
  background-color: #1b9ce2; }
  .deckComplete .deckAgain > .buttonIcon {
    border: solid 4px #1b9ce2; }

.buttonIcon {
  background-color: white;
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;
  border: solid 4px lightslategrey;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s; }

.buttonIcon svg {
  fill: lightslategrey;
  transition: all 0.3s; }

.buttonText {
  padding-left: 65px; }
